<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
	</head>
	<body>
		<div id="app">
			<div style="width: 500px; margin: 0 auto">
				<el-form ref="form" :model="form" label-width="80px">
					<el-form-item label="tag:">
						<el-input v-model="tag"></el-input>
					</el-form-item>
					<el-form-item label="模块名:">
						<el-input v-model="name"></el-input>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="build">生成</el-button>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="copy_model" v-if="show">复制model</el-button>
						<el-button type="primary" @click="copy_controller" v-if="show">复制controller</el-button>
						<el-button type="primary" @click="copy_service" v-if="show">复制service</el-button>
					</el-form-item>
				</el-form>
			</div>
		</div>
	</body>
	<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: function () {
				return {
					tag: '',
					name: '',
					show: false,
					strmodel: '',
					strcontroller: '',
					strservice: '',
				}
			},
			methods: {
				build() {
					this.show = true
					this.strmodel = `
package model
type X${this.name} struct {

}

func (X${this.name}) TableName() string {
	return ""
}
`
					this.strcontroller = `package controller_${this.name.toLowerCase()}

import (
	"net/http"
	"xadminapi/middleware"
	"xadminapi/server"
	"xadminapi/service"
	service_${this.name.toLowerCase()} "xadminapi/service/${this.name.toLowerCase()}"
	"xcom/enum"

	"github.com/gin-gonic/gin"
	val "github.com/go-playground/validator/v10"
)

type ${this.name}Controller struct {
	service *service_${this.name.toLowerCase()}.${this.name}Service
}

func (this *${this.name}Controller) InitRouter(router *gin.RouterGroup) {
	this.service = &service.Services().${this.name}Service
	router.GET("/get_${this.name.toLowerCase()}",  middleware.Authorization("", "", "", ""),this.get_${this.name.toLowerCase()})
	router.POST("/create_${this.name.toLowerCase()}", middleware.Authorization("", "", "", ""), this.create_${this.name.toLowerCase()})
	router.PATCH("/update_${this.name.toLowerCase()}", middleware.Authorization("", "", "", ""), this.update_${this.name.toLowerCase()})
	router.DELETE("/delete_${this.name.toLowerCase()}", middleware.Authorization("", "", "", ""), this.delete_${this.name.toLowerCase()})
}

// @Router /${this.name.toLowerCase()}/get_${this.name.toLowerCase()} [get]
// @Tags ${this.tag}
// @Summary 获取${this.tag}列表
// @Param x-token header string true "token"
// @Param query query service_${this.name.toLowerCase()}.GetX${this.name}Req false "筛选参数"
// @Success 200 {object} []model.X${this.name} "成功"
func (this *${this.name}Controller) get_${this.name.toLowerCase()}(ctx *gin.Context) {
	var reqdata service_${this.name.toLowerCase()}.GetX${this.name}Req
	if err := ctx.ShouldBindQuery(&reqdata); err != nil {
		ctx.JSON(http.StatusBadRequest, enum.MakeError(enum.BadParams, err.Error()))
		return
	}
	token := server.GetToken(ctx)
	if token == nil {
		return
	}
	reqdata.SellerId = token.SellerId
	total, data, merr, err := this.service.Get${this.name}List(&reqdata)
	if err != nil {
		ctx.JSON(http.StatusBadRequest, enum.MakeError(enum.InternalError, err.Error()))
		return
	}
	if merr != nil {
		ctx.JSON(http.StatusBadRequest, merr)
		return
	}
	ctx.JSON(http.StatusOK, enum.MakePageSucess(total, data))
}

// @Router /${this.name.toLowerCase()}/create_${this.name.toLowerCase()} [post]
// @Tags ${this.tag}
// @Summary 新增${this.tag}
// @Param x-token header string true "token"
// @Param VerifyCode header string true "验证码"
// @Param body body service_${this.name.toLowerCase()}.CreateX${this.name}Req true "body参数"
// @Success 200 "成功"
func (this *${this.name}Controller) create_${this.name.toLowerCase()}(ctx *gin.Context) {
	var reqdata service_${this.name.toLowerCase()}.CreateX${this.name}Req
	if err := ctx.ShouldBindJSON(&reqdata); err != nil {
		ctx.JSON(http.StatusBadRequest, enum.MakeError(enum.BadParams, err.Error()))
		return
	}
	validator := val.New()
	if err := validator.Struct(&reqdata); err != nil {
		ctx.JSON(http.StatusBadRequest, enum.MakeError(enum.BadParams, err.Error()))
		return
	}
	token := server.GetToken(ctx)
	if token == nil {
		return
	}
	reqdata.SellerId = token.SellerId
	merr, err := this.service.Create${this.name}(&reqdata)
	if err != nil {
		ctx.JSON(http.StatusBadRequest, enum.MakeError(enum.InternalError, err.Error()))
		return
	}
	if merr != nil {
		ctx.JSON(http.StatusBadRequest, merr)
		return
	}
	ctx.JSON(http.StatusOK, enum.Success)
}

// @Router /${this.name.toLowerCase()}/update_${this.name.toLowerCase()} [patch]
// @Tags ${this.tag}
// @Summary 更新${this.tag}
// @Param x-token header string true "token"
// @Param VerifyCode header string true "验证码"
// @Param body body service_${this.name.toLowerCase()}.UpdateX${this.name}Req true "body参数"
// @Success 200 "成功"
func (this *${this.name}Controller) update_${this.name.toLowerCase()}(ctx *gin.Context) {
	var reqdata service_${this.name.toLowerCase()}.UpdateX${this.name}Req
	if err := ctx.ShouldBindJSON(&reqdata); err != nil {
		ctx.JSON(http.StatusBadRequest, enum.MakeError(enum.BadParams, err.Error()))
		return
	}
	validator := val.New()
	if err := validator.Struct(&reqdata); err != nil {
		ctx.JSON(http.StatusBadRequest, enum.MakeError(enum.BadParams, err.Error()))
		return
	}
	token := server.GetToken(ctx)
	if token == nil {
		return
	}
	reqdata.SellerId = token.SellerId
	merr, err := this.service.Update${this.name}(&reqdata)
	if err != nil {
		ctx.JSON(http.StatusBadRequest, enum.MakeError(enum.InternalError, err.Error()))
		return
	}
	if merr != nil {
		ctx.JSON(http.StatusBadRequest, merr)
		return
	}
	ctx.JSON(http.StatusOK, enum.Success)
}

// @Router /${this.name.toLowerCase()}/delete_${this.name.toLowerCase()} [delete]
// @Tags ${this.tag}
// @Summary 删除${this.tag}
// @Param x-token header string true "token"
// @Param VerifyCode header string true "验证码"
// @Param body body service_${this.name.toLowerCase()}.DeleteX${this.name}Req true "body参数"
// @Success 200 "成功"
func (this *${this.name}Controller) delete_${this.name.toLowerCase()}(ctx *gin.Context) {
	var reqdata service_${this.name.toLowerCase()}.DeleteX${this.name}Req
	if err := ctx.ShouldBindJSON(&reqdata); err != nil {
		ctx.JSON(http.StatusBadRequest, enum.MakeError(enum.BadParams, err.Error()))
		return
	}
	validator := val.New()
	if err := validator.Struct(&reqdata); err != nil {
		ctx.JSON(http.StatusBadRequest, enum.MakeError(enum.BadParams, err.Error()))
		return
	}
	token := server.GetToken(ctx)
	if token == nil {
		return
	}
	reqdata.SellerId = token.SellerId
	rows, merr, err := this.service.Delete${this.name}(&reqdata)
	if err != nil {
		ctx.JSON(http.StatusBadRequest, enum.MakeError(enum.InternalError, err.Error()))
		return
	}
	if merr != nil {
		ctx.JSON(http.StatusBadRequest, merr)
		return
	}
	ctx.JSON(http.StatusOK, enum.MakeSucess(rows))
}
`
					this.strservice = `package service_${this.name.toLowerCase()}

import (
	"fmt"
	"xadminapi/model"
	"xadminapi/server"
	"xcom/enum"
	"xcom/msql"
	"xcom/utils"
)

type ${this.name}Service struct {
}

func (this *${this.name}Service) Init() {

}

type GetX${this.name}Req struct {
	Page        int    \`form:"page"\`         // 页码
	PageSize    int    \`form:"page_size"\`    // 每页数量
	SellerId    int    \`form:"seller_id"\`    // 运营商
	ChannelId   int    \`form:"channel_id"\`   // 渠道商
}

type GetX${this.name}Res struct {
	Total int              \`json:"total"\` // 总数
	Data  []model.X${this.name} \`json:"data"\`  // 数据
}

// 获取${this.tag}列表
func (this *${this.name}Service) Get${this.name}List(reqdata *GetX${this.name}Req) (total int64, data []model.X${this.name}, merr map[string]interface{}, err error) {
	if reqdata.Page <= 0 {
		reqdata.Page = 1
	}
	if reqdata.PageSize <= 0 {
		reqdata.PageSize = 15
	}
	db := server.Db(enum.DbAdminRW).Model(&model.X${this.name}{})
	db = utils.DbWhere(db, edb.SellerId+edb.EQ, reqdata.SellerId, int(0))
	db = utils.DbWhere(db, edb.ChannelId+edb.EQ, reqdata.ChannelId, int(0))
	err = db.Count(&total).Error
	if err != nil {
		return 0, nil, nil, err
	}
	db = db.Offset((reqdata.Page - 1) * reqdata.PageSize)
	db = db.Limit(reqdata.PageSize)
	db = db.Order(edb.Id + edb.DESC)
	err = db.Find(&data).Error
	if err != nil {
		return 0, nil, nil, err
	}
	return total, data, nil, err
}

type CreateX${this.name}Req struct {
	SellerId    int    \`validate:"required" json:"seller_id"\`    // 运营商
	ChannelId   int    \`validate:"required" json:"channel_id"\`
}

// 创建${this.tag}
func (this *${this.name}Service) Create${this.name}(reqdata *CreateX${this.name}Req) (merr map[string]interface{}, err error) {
	db := server.Db(enum.DbAdminRW).Model(&model.X${this.name}{})
	db.Create(map[string]interface{}{
		edb.SellerId:    reqdata.SellerId,
		edb.ChannelId:   reqdata.ChannelId,
	})
	return nil, db.Error
}

type UpdateX${this.name}Req struct {
	SellerId    int    \`validate:"required" json:"seller_id"\`    // 运营商
	Id   int    \`validate:"required" json:"id"\`
}

// 更新${this.tag}
func (this *${this.name}Service) Update${this.name}(reqdata *UpdateX${this.name}Req) (merr map[string]interface{}, err error) {
	updatedata := map[string]interface{}{}
	db := server.Db(enum.DbAdminRW).Model(&model.X${this.name}{})
	db = db.Where(edb.SellerId+edb.EQ, reqdata.SellerId)
	db = db.Where(edb.Id+edb.EQ, reqdata.Id)
	db = db.Updates(updatedata)
	return nil, db.Error
}

type DeleteX${this.name}Req struct {
	SellerId  int \`validate:"required" json:"seller_id"\`  // 运营商
	Id int \`validate:"required" json:"id"\` // id
}

// 删除${this.tag}
func (this *${this.name}Service) Delete${this.name}(reqdata *DeleteX${this.name}Req) (rows int64, merr map[string]interface{}, err error) {
	db := server.Db(enum.DbAdminRW).Model(&model.X${this.name}{})
	db = db.Where(edb.SellerId+edb.EQ, reqdata.SellerId)
	db = db.Where(edb.Id+edb.EQ, reqdata.Id)
	db = db.Delete(&model.X${this.name}{})
	return db.RowsAffected, nil, db.Error
}
`
				},
				copy_model() {
					const input = document.createElement('textarea')
					input.value = this.strmodel
					document.body.appendChild(input)
					input.focus()
					input.select()
					document.execCommand('copy')
					document.body.removeChild(input)
				},
				copy_controller() {
					const input = document.createElement('textarea')
					input.value = this.strcontroller
					document.body.appendChild(input)
					input.focus()
					input.select()
					document.execCommand('copy')
					document.body.removeChild(input)
				},
				copy_service() {
					const input = document.createElement('textarea')
					input.value = this.strservice
					document.body.appendChild(input)
					input.focus()
					input.select()
					document.execCommand('copy')
					document.body.removeChild(input)
				},
			},
		})
	</script>
</html>
